# IDE
.vscode

# Binaries & Applications
bin
lifesim.app
main
a.out
*.o

# Platform-specific Files
**/.DS_Store
**/Thumbs.db
**/._*

# Temps and caches
.mypy_cache
.pytest_cache
**/TempCodeRunnerFile.bash